.title {
    margin-left: 50px;
}

.create__coupon {
    margin-left: 50px;
}

.coupon__list {
    margin-left: 50px;
}

.create__coupon-box {
    margin-bottom: 10px;
}

.input__discount {
    margin-left: 30px;
}

.input__expires {
    margin-left: 45px;
}

.coupon__list {
    margin-top: 10px;
}