.card-img-top{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 45px;
}

.col-md-4 {
    flex: 1 0 20%;
    /* 3列にする */
    max-width: 20%;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-body {
    flex: 1;
}

.line {
    width: 100%;
    border-top: 1px solid black;
    margin-bottom: 50px;
    margin-top: 10px;
}

.tablinks {
    border: none;
    background-color: white;
    cursor: pointer;
}

.tablinks:hover {
    color: red;
}

.filter__button {
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 13px;
}

.filter__button:hover {
    color: red;
}

.tablinks.active {
    color: red;
    /* タブがアクティブな時のスタイルを設定 */
}

.card-text {
    color: red;
    font-size: 13px;
}

.filters {
    font-size: 13px;
}

@media (max-width: 768px) {
    .row {
            margin-left: 0;
            /* 小さな画面では左の余白をなくす */
        }

        /* カードの幅を調整（1列または2列にする） */
        .col-md-4 {
            flex: 1 0 100%;
            /* 1列表示 */
            max-width: 100%;
            margin-bottom: 20px;
        }

        /* 480px以上768px以下のデバイスでは2列にする */
        @media (min-width: 480px) and (max-width: 768px) {
            .col-md-4 {
                flex: 1 0 48%;
                /* 2列表示 */
                max-width: 48%;
            }
        }

        /* カード画像のサイズを調整 */
        .card-img-top {
            width: 100%;
            height: 400px;
            object-fit: cover;
        }

        /* その他の要素のサイズ調整 */
        .filter__button,
        .tablinks,
        .card-text,
        .filters {
            font-size: 12px;
            /* フォントサイズを小さく調整 */
        }
}







