.header {
    background-color: black;
    width: 100%;
    height: 50px;
    margin: 0;
}

.header__title {
    margin: 0;
}

.header__title-text {
    color: white;
    text-decoration: none;
}

.login__title {
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
}

.email {
    margin-top: 30px;
    text-align: center;
}

.password {
    margin-top: 30px;
    text-align: center;
}

.label {
    display: block;
}

.text__box {
    width: 400px;
}

.login__button {
    margin-top: 50px;
    text-align: center;
}

.login__button-item {
    width: 400px;
    background-color: #FA8072;
    border: none;
    color: white;
}

.link {
    text-align: center;
    margin-top: 10px;
}

.register__link {
    text-decoration: none;
}


@media (max-width: 768px) {
    .header {
        height: auto;
        /* 高さを自動調整 */
        padding: 10px;
        /* パディングを追加 */
    }

    .header__title {
        text-align: left;
        /* タイトルを中央揃え */
        margin: 10px 0;
        /* タイトルの上下にマージンを追加 */
    }

    /* テキストボックスの幅を調整して画面幅に適応 */
    .text__box {
        width: 100%;
        max-width: 300px;
        /* 最大幅を300pxに制限 */
        margin: 0 auto;
        /* 中央揃え */
    }

    /* ログインボタンの幅を調整 */
    .login__button-item {
        width: 100%;
        max-width: 300px;
        /* 最大幅を300pxに制限 */
    }

    /* リンクを中央揃え */
    .link {
        text-align: center;
    }
}