.card__payment {
    margin-left: 50px;
}

.bank__payment {
    margin-left: 50px;
}

.purchase__button {
    background-color:#ff6347;
    color: white;
    border: none;
    width: 20%;
    cursor: pointer;
}

.button {
    margin-left: 50px;
    margin-top: 30px;
}