.rounded__image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 35%;
    background-color: gray;
}

input[type="file"] {
    display: none;
}

.custom-file-label {
    padding: 5px 20px;
    color: #ffffff;
    background-color: #295d72;
    cursor: pointer;
    border-radius: 10px;
    transition: .3s;
}

.custom-file-label:hover {
    opacity: 0.8;
}

.top__content {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.profile__image {
    display: flex;
    margin-bottom: 50px;
}

.file-input-wrapper {
    margin-left: 50px;
    margin-top: 60px;
}

.custom-file-label {
    background-color: white;
    border: 1px solid #ff6347;
    color: #ff6347;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 0;
}

.edit__profile-box {
    margin-left: 35%;
    margin-bottom: 15px;
}

.submit__button {
    margin-left: 35%;
    margin-top: 30px;
}

.submit__button-item {
    width: 50%;
    background-color: #ff6345;
    color: white;
    border: none;
    height: 25px;
    font-weight: bold;
}

.edit__label {
    font-weight: bold;
}

.edit__box {
    width: 50%;
    height: 25px;
}

/* 768px以下のデバイス向けのレスポンシブデザイン */
@media (max-width: 768px) {

    /* プロフィール画像のサイズと中央揃え */
    .rounded__image {
        width: 120px;
        height: 120px;
        margin-left: 1%;
    }

    /* コンテンツの中央揃えとサイズ調整 */
    .top__content {
        font-size: 18px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .profile__image {
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }

    /* ファイル入力ボタンの調整 */
    .file-input-wrapper {
        margin-left: 1%;
        margin-top: 20px;
    }

    /* 編集ボックスとボタンの幅を広げ、中央揃え */
    .edit__profile-box,
    .submit__button {
        margin-left: 0;
        margin-top: 15px;
        text-align: center;
    }

    .submit__button-item,
    .edit__box {
        width: 80%;
        /* 幅を80%にして画面幅に適応 */
        margin: 0 auto;
    }

    /* ラベルのサイズ調整 */
    .edit__label {
        font-size: 14px;
    }
}