.item__image-content {
    width: 240px;
    height: 240px;
}

.item__image {
    margin-left: 50%;
}

.item__detail {
    margin-left: 40%;
}

.item__detail-content {
    margin: 0 auto;
    border-collapse: collapse;
    width: 240px;
}

.table__item-name {
    text-align: center;
    padding: 5px;
}

.table__item {
    text-align: left;
    padding: 5px;
}

.transaction__comment-title {
    margin-left: 20px;
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 5px;
}

.transaction__comment-content {
    margin-left: 20px;
}

.transaction__complete-submit {
    text-align: center;
}

.transaction {
    display: flex;
}

.transaction__left {
    width: 50%;
}

.transaction-right {
    width: 50%;
}

.comment__submit {
    margin-top: 10px;
    width: 305px;
    background-color: #ff6347;
    color: white;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
}

.transaction__complete-button {
    width: 305px;
    margin-left: 17px;
    background-color: #ff6347;
    color: white;
    border: none;
    cursor: pointer;
}